.widget-drop-down-sort {
    select {
        display: inline-block;
    }
}

.widget-drop-down-sort-loading > * {
    opacity: 0 !important;
}

.widget-drop-down-sort-loading {
    background-color: white;
    background-image: url(./loading.gif);
    background-repeat: no-repeat;
    background-position: center top;
}
