div.widget-drop-down-sort-pre-loader-wrapper {
    width:78px;
    height:49px;
    margin: auto;

    span.widget-drop-down-sort-pre-loader {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 24px auto;
        background: rgb(0,0,0);
        border-radius: 49px;
        -o-border-radius: 49px;
        -ms-border-radius: 49px;
        -webkit-border-radius: 49px;
        -moz-border-radius: 49px;
        animation: bubblingDefault 1.5s infinite alternate;
        -o-animation: bubblingDefault 1.5s infinite alternate;
        -ms-animation: bubblingDefault 1.5s infinite alternate;
        -webkit-animation: bubblingDefault 1.5s infinite alternate;
        -moz-animation: bubblingDefault 1.5s infinite alternate;

        @mixin bubble-animation-delay($animationDelay) {
            animation-delay: #{$animationDelay}s;
            -o-animation-delay: #{$animationDelay}s;
            -ms-animation-delay: #{$animationDelay}s;
            -webkit-animation-delay: #{$animationDelay}s;
            -moz-animation-delay: #{$animationDelay}s;
        }
        &.bubble-one {
            @include bubble-animation-delay(0);
        }

        &.bubble-two {
            @include bubble-animation-delay(0.45);
        }

        &.bubble-three {
            @include bubble-animation-delay(0.9);
        }
    }
}
$zeroTranslateY: 0;
$percentTranslateY: 20px;

@mixin bubble-animation {
    0% {
        width: 10px;
        height: 10px;
        background-color:rgb(0,0,0);
        transform: translateY($zeroTranslateY);
    }

    100% {
        width: 23px;
        height: 23px;
        background-color:rgb(255,255,255);
        transform: translateY($percentTranslateY);
    }
}

@keyframes bubblingDefault {
    @include bubble-animation();
}
@-o-keyframes bubblingDefault {
    @include bubble-animation();

    0% {
        -o-transform: translateY($zeroTranslateY);
    }

    100% {
        -o-transform: translateY($percentTranslateY);
    }
}

@-ms-keyframes bubblingDefault {
    @include bubble-animation();

    0% {
        -ms-transform: translateY($zeroTranslateY);
    }

    100% {
        -ms-transform: translateY($percentTranslateY);
    }
}

@-webkit-keyframes bubblingDefault {
    @include bubble-animation();

    0% {
        -webkit-transform: translateY($zeroTranslateY);
    }

    100% {
        -webkit-transform: translateY($percentTranslateY);
    }
}

@-moz-keyframes bubblingDefault {
    @include bubble-animation();

    0% {
        -moz-transform: translateY($zeroTranslateY);
    }

    100% {
        -moz-transform: translateY($percentTranslateY);
    }
}
